@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

html {
  scroll-behavior: smooth;
}

/* Add fonts and interalization */
.font-english {
  font-family: 'Bubblegum Sans', Arial, sans-serif;
}

.font-bulgarian {
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

/* Import fonts via CSS */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans:wght@400&family=Roboto+Condensed:wght@300;400;700&display=swap');
/* Custom styles for the fonts */
