@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

html {
  scroll-behavior: smooth;
}

.font-dynamic:lang(bg) {
  /* font-family: 'Zen Kurenaido', sans-serif !important; */
  font-family: 'Sofia Sans Condensed', sans-serif !important;
}

.font-dynamic:lang(en) {
  font-family: 'Bubbler One', sans-serif !important;
}
