@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Sofia_Sans+Condensed&display=swap');

body {
  font-family: 'Bubbler One', 'Sofia Sans Condensed', sans-serif;
}

/* body {
  font-family: 'Bubbler One', 'Sofia Sans Condensed' sans-serif;
} */
